<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mt-4">
        <div class="card-body">
          <div class="text-center">
            <img
              src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.svg"
              class="mb-2"
            />
            <h2>Criar conta de usuário</h2>
            <p>Preencha os campos para criar sua conta.</p>
          </div>
  
  
          <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
            <div class="mb-2">
              <label>Nome do usuário:</label>
              <input
                type="text"
                class="form-control"
                formControlName="nome"
                placeholder="Digite seu nome aqui."
              />
  
  
              <span
                class="text-danger"
                *ngIf="form.nome.touched && form.nome.invalid"
              >
                <span *ngIf="form.nome.errors.required">
                  Por favor, informe o seu nome.
                </span>
                <span *ngIf="form.nome.errors.minlength">
                  Por favor, informe no mínimo 8 caracteres.
                </span>
                <span *ngIf="form.nome.errors.maxlength">
                  Por favor, informe no máximo 100 caracteres.
                </span>
              </span>
            </div>
  
  
            <div class="mb-2">
              <label>Email de acesso:</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Digite seu email aqui."
              />
  
  
              <span
                class="text-danger"
                *ngIf="form.email.touched && form.email.invalid"
              >
                <span *ngIf="form.email.errors.required">
                  Por favor, informe o seu email de acesso.
                </span>
                <span *ngIf="form.email.errors.email">
                  Por favor, informe um endereço de email válido.
                </span>
              </span>
            </div>
  
  
            <div class="mb-2">
              <label>Senha de acesso:</label>
              <input
                type="password"
                class="form-control"
                formControlName="senha"
                placeholder="Digite sua senha aqui."
              />
  
  
              <span
                class="text-danger"
                *ngIf="form.senha.touched && form.senha.invalid"
              >
                <span *ngIf="form.senha.errors.required">
                  Por favor, informe a sua senha de acesso.
                </span>
                <span *ngIf="form.senha.errors.pattern">
                  Por favor, informe a senha com letras maiúsculas, letras
                  minúsculas, números, símbolos e no mínimo 8 caracteres.
                </span>
              </span>
            </div>
  
  
            <div class="mb-2">
              <label>Confirme sua senha:</label>
              <input
                type="password"
                class="form-control"
                formControlName="senhaConfirmacao"
                placeholder="Confirme sua senha aqui."
              />
  
  
              <span
                class="text-danger"
                *ngIf="
                  form.senhaConfirmacao.touched && form.senhaConfirmacao.invalid
                "
              >
                <span *ngIf="form.senhaConfirmacao.errors.required">
                  Por favor, confirme sua senha.
                </span>
                <span *ngIf="form.senhaConfirmacao.errors.matchPassword">
                  Senhas não conferem, por favor verifique.
                </span>
              </span>
            </div>
  
  
            <div class="mb-2 d-grid">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!formRegister.valid"
              >
                Realizar Cadastro
              </button>
            </div>
            <div class="mb-2 d-grid">
              <a [routerLink]="['/account/login']" class="btn btn-light">
                Já possui conta? <strong>Acesse aqui!</strong>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  