<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card mt-4">
        <div class="card-body">
          <div class="text-center">
            <img
              src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.svg"
              class="mb-2"
            />
            <h2>Recuperar senha de acesso</h2>
            <p>Entre com os dados para recuperar a senha.</p>
          </div>
 
          <form [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">
            <div class="mb-2">
              <label>Email de acesso:</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Digite seu email aqui."
              />
 
              <span
                class="text-danger"
                *ngIf="form.email.touched && form.email.invalid"
              >
                <span *ngIf="form.email.errors.required">
                  Por favor, informe o seu email de acesso.
                </span>
                <span *ngIf="form.email.errors.email">
                  Por favor, informe um endereço de email válido.
                </span>
              </span>
            </div>          
            <div class="mb-2 d-grid">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!formForgotPassword.valid"
              >
                Recuperar Senha
              </button>
            </div>
            <div class="mb-2 d-grid">
              <a [routerLink]="['/account/login']" class="btn btn-light">
                Já possui conta? <strong>Acesse aqui!</strong>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 


